body,html {

    }

    .chat-container {
        overflow-y: auto;
        position: fixed;
        top: 50px;
        bottom: 80px;
        width: 100%;
        padding: 0px 10px;
    }

    .chat-message {
      padding: 6px;
      border-radius: 3px;
      margin-bottom: 3px;
    }

    .bot-message {
        background: #e9ebee;
        color: black;
        float: left;
        margin: 13px 1px;
    }

    .human-message {
        background: #0084ff;
        color: white;
        float: right;
    }

    .text_input {
        width: 94%;
        height: 40px;
        border: 1px solid #ddd;
        bottom: 30px;
        padding: 14px;
        position: fixed;
        border-radius: 20px;
    }
    .b-agent-demo_powered_by {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        vertical-align: middle;
    }
    .b-agent-demo_powered_by img {
        margin-top: 5px;
        height: 20px;
        margin-right: 10px;
        float: right;
        vertical-align: middle;
        border: 0;
    }
    .b-agent-demo_powered_by span {
        color: #b7bbc4;
        text-transform: uppercase;
        float: right;
        vertical-align: middle;
        line-height: 20px;
        margin-top: 5px;
        margin-right: 10px;
        font-size: 10px;
        margin-left: -10px;
    }