{% extends 'layout.html' %}
{% block body %}
<div id="chat-frame" style="display: none; right:20px; bottom: 20px;">
<iframe
        id="full_iframe"
        src="https://57de036d.ngrok.io/bot"
        style="position:absolute;right:65px;bottom:80px; border-radius:15px"
        width="350"
        height="455"
        align="bottom" class="border shadow">
</iframe>
</div>
<button class="btn btn-sm btn-light rounded-circle m-l-5 chat-closed" id="chat-button" style="position: absolute; right:20px; bottom: 20px; background: url(static/images/chat_logo.jpg) round; width: 60px; height: 60px;"></button>
<script type="text/javascript">
$(document).ready(function(){
    $(".chat-closed").on("click",function(e){
        x = document.getElementById("chat-frame");
        if (x.style.display === 'none') {
            x.style.display = 'block';
            var i = document.getElementsByTagName("iframe")[0].contentWindow;
            i.document.getElementsByTagName("input")[0].focus();
            var elem = i.document.getElementById('auto_scroll');
            elem.scrollTop = elem.scrollHeight;
            var b = document.getElementById('chat-button');
            b.style.backgroundImage = "url('static/images/close_chat.jpg')";
        } else {
            x.style.display = 'none';
            var b = document.getElementById('chat-button');
            b.style.backgroundImage = "url('static/images/chat_logo.jpg')";
        }
    });
});
</script>
{% endblock %}
