<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/easy_logo.png')}}">
    <title>Easy Customer Care Bot</title>
</head>
<body style="background-image: url({{ url_for('static', filename='images/bg.png') }})">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='images/easy_logo.png')}}" alt="" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <span style="color: white; font-weight: bold;">Customer Care Help</span>
        </li>
    </ul>
</nav>
<div class="b-agent-demo_powered_by">
    <a href="/" target="_blank">
        <img src="{{url_for('static', filename='images/sslwireless_logo.jpg')}}">
        <span>Powered by</span>
    </a>
</div>
<div class="chat-container" id="auto_scroll" style="overflow-y: auto;">
    <!-- chat messages -->
    {% if session.logged_in%}
    {% for message in messages %}
    <div class="chat-message col-md-5 human-message">
        {{ message.users_text }}
    </div>
    <div class="chat-message col-md-5 offset-md-7 bot-message">
        {{ message.agent_text }}
    </div>
    {% endfor %}
    {% endif %}
</div>
<div>
    <form id="target">
        <input class="text_input" autofocus autocomplete="off" type="text" value="" placeholder="Enter message..."
               id="input_message"/>
        <input type="submit" hidden onclick="div_bottom()">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script src="{{ url_for('static', filename='custom.js')}}"></script>
<script>
    function div_bottom() {
        var elem = document.getElementById('auto_scroll');
        elem.scrollTop = elem.scrollHeight;
    }


</script>
</body>
</html>