from flask import Flask, request, jsonify, render_template, flash
import os
import dialogflow_v2 as dialogflow
import requests
import json
import pusher

app = Flask(__name__)
app.secret_key = os.urandom(24)


@app.route('/')
def index():
    return render_template('home.html')


@app.route('/bot', methods=['GET', 'POST'])
def bot():
    if request.method == 'GET':
        return render_template('index.html')

    if request.method == 'POST':
        email = ''
        name = ''
        mobile = ''
        data = request.get_json(silent=True)
        email = data['queryResult']['parameters']['email']
        mobile = data['queryResult']['parameters']['mobile']
        if email or mobile:
            intent_name = data['queryResult']['intent']['displayName']
            if mobile:
                all_info = {'name': name,
                            'mobile': mobile,
                            'amount': '0',
                            'email': email}
                users.append(all_info)
                reply = {
                    "fulfillmentText": 'Registration successful.',
                }
                print(reply)
                return jsonify(reply)
            else:
                user_info = []
                # matching user
                for user in users:
                    if user['email'] == email:
                        user_info.append(user)
                if not user_info:
                    reply = {
                        "fulfillmentText": 'You are not registered user!Want to register? Yes/No',
                    }
                    print(reply)
                    return jsonify(reply)
                else:
                    user_detail = requests.get('http://127.0.0.1:5000/api_test/users?email={0}'.format(email)).content
                    user_detail = json.loads(user_detail)
                    response = """
                                                Email : {0}
                                                Mobile: {1}
                                                Name: {2}
                                                Amount: {3}
                                            """.format(user_detail[0]['email'],
                                                       user_detail[0]['mobile'],
                                                       user_detail[0]['name'], user_detail[0]['amount'])
                    reply = {
                        "fulfillmentText": response,
                    }
                    print(reply)
                    return jsonify(reply)


@app.route('/send_message', methods=['POST'])
def send_message():
    message = request.form['message']
    project_id = os.getenv('DIALOGFLOW_PROJECT_ID')
    fulfillment_text = detect_intent_texts(project_id, "unique", message, 'en')
    response_text = {"message": fulfillment_text}

    print('text send: {}'.format(fulfillment_text))
    return jsonify(response_text)


def detect_intent_texts(project_id, session_id, text, language_code):
    session_client = dialogflow.SessionsClient()
    session = session_client.session_path(project_id, session_id)

    if text:
        text_input = dialogflow.types.TextInput(
            text=text, language_code=language_code)
        query_input = dialogflow.types.QueryInput(text=text_input)
        response = session_client.detect_intent(
            session=session, query_input=query_input)

        return response.query_result.fulfillment_text


@app.route('/intents', methods=['POST', 'GET'])
def intents():
    if request.method == 'GET':
        return render_template('intents.html')
    if request.method == 'POST':
        intent_name = request.form['intent_name']
        project_id = os.getenv('DIALOGFLOW_PROJECT_ID')
        training_phrases_parts = ''
        message_texts = ''
        create_intent(project_id, intent_name, training_phrases_parts, message_texts)

        return render_template('intents.html')


def create_intent(project_id, display_name, training_phrases_parts,
                  message_texts):
    """Create an intent of the given intent type."""
    intents_client = dialogflow.IntentsClient()

    parent = intents_client.project_agent_path(project_id)
    training_phrases = []
    for training_phrases_part in training_phrases_parts:
        part = dialogflow.types.Intent.TrainingPhrase.Part(
            text=training_phrases_part)
        # Here we create a new training phrase for each provided part.
        training_phrase = dialogflow.types.Intent.TrainingPhrase(parts=[part])
        training_phrases.append(training_phrase)

    text = dialogflow.types.Intent.Message.Text(text=message_texts)
    message = dialogflow.types.Intent.Message(text=text)

    intent = dialogflow.types.Intent(
        display_name=display_name,
        training_phrases=training_phrases,
        messages=[message])

    response = intents_client.create_intent(parent, intent)
    flash('Successfully intent created.', 'success')
    print('Intent created: {}'.format(response))


users = [  # user list
    {'name': 'Mukul Ahmed',
     'mobile': '01725652630',
     'amount': '5000',
     'email': 'mukulseu@gmail.com'},
    {'name': 'Rahat Khan',
     'mobile': '01725652640',
     'amount': '8000',
     'email': 'rahat@gmail.com'},
    {'name': 'Aminul Islam',
     'mobile': '01725652650',
     'amount': '51000',
     'email': 'aminul@gmail.com'},
    {'name': 'Nur Mohsin',
     'mobile': '01725652640',
     'amount': '25000',
     'email': 'mohsin@gmail.com'}
]


@app.route('/api_test/users/all', methods=['POST', 'GET'])
def api_test():
    return jsonify(users)


@app.route('/api_test/users', methods=['POST', 'GET'])
def api_email():
    if 'email' in request.args:
        email = request.args['email']
    else:
        return "Error: No email field provided. Please specify an id."

    # Create an empty list for our results
    results = []

    for user in users:
        if user['email'] == email:
            results.append(user)

    return jsonify(results)


# run Flask app
if __name__ == "__main__":
    app.run(debug=True)


<span class="chat-message bot-message"> <b>...</b> </span>
class="text-center col-md-2 offset-md-10"
<span class="chat-message human-message"> ${data.message} </span>
